<%- include('partials/header') %>

    <form
      class="d-flex flex-column justify-content-center vh-100 w-25 mx-auto my-auto"
      action="/"
      method="POST"
    >
      <h1 class="text-3xl font-bold text-center mb-4">Login Page</h1>

      <!-- Email input -->
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>

      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example34"
              checked
            />
            <label class="form-check-label" for="form2Example34">
              Remember me
            </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-success btn-block mb-4">
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Not a member? <a href="#">Register</a></p>
        <p>or sign up with:</p>

        <a href="/auth/google" type="button" class="btn btn-light btn-block mb-4 border border-1 shadow"
          ><img width="18px" class="rounded float-start"
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
            alt="sign-up-google"
        />Sign up with Google</a>

        <!-- <button type="submit" class="btn btn-light btn-block mb-4">
          Sign up with Google
        </button>
        <a
          href="/auth/google"
          type="button"
          class="btn btn-primary btn-floating mx-1"
        >
          <i class="fab fa-google"></i> -->
        </a>
      </div>
    </form>
  
<%- include('partials/footer') %>